@model CLEANSHOP.Models.Customer

@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng Nhập | Đăng Ký</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

 

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
    
        <hr>

        <div class="row" style="display:flex;">
            <div class="signup-connect"style="background: #a433b7; margin: 20px 0; display: flex; flex-direction: column; flex-wrap: wrap; height: 300px; margin-top: 0px; ">
                <a href="/NguoiDung/LoginFB" class="btn btn-social btn-facebook" style="margin-top:35%"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
                <a href="#" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
                <a href="#" class="btn btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a>
            </div>
            <div class="col-sm-4" style="border:1px solid #808080; height:300px">

                <div class="card">
                    <div class="card-body">
                        <div style="display:flex; justify-content:space-between ; margin:20px">

                            <a class="btn btn-info" style="margin:initial" href="@Url.Action("DangKy", "NguoiDung", new { @class = "form-control" })">Đăng ký</a>

                            <h4 class="card-title mb-4 mt-1">Đăng Nhập</h4>
                        </div>
                        <div>
                            <div class="form-group" style="padding:30px;">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên đăng nhập" } })
                                    @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                            <a class="float-right" href="#">Forgot?</a>
                            <label>Your password</label>
                            <input class="form-control" placeholder="******" type="password">
                        </div>*@ <!-- form-group// -->
                            <!--div class="form-group">
                    <div class="checkbox">
                        <label> <input type="checkbox"> Save password </label>
                    </div>-->
                            <!-- checkbox .// -->
                            <!--</div>--> <!-- form-group// -->
                            <div class="form-group" style="padding:30px;">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật Khẩu", type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <p style="color:red;">@ViewBag.ThongBao</p>
                            <div class="form-group" style="padding:30px;">
                                <div class="col-md-offset-2 col-md-10" style=" margin: 0;">
                                    <input type="submit" value="Đăng nhập " class="btn btn-info" style="width:100%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- card.// -->

            </div>
        </div>   <!-- col.// -->
    </div>

    }




    <p>
        @Html.ActionLink("Về trang chủ", "Index", "DichVu")
    </p>
